name: examples
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/examples.yml'
      - 'examples/**'
      - '!**/*.md'
  pull_request:
    paths:
      - '.github/workflows/examples.yml'
      - 'examples/**'
      - '!**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    if: |
      ${{ github.event_name == 'pull_request' }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    name: 'Test examples'

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout csolution-rpc repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci
        working-directory: examples/vscode-extension-client

      - name: Run linter
        run: npm run lint
        working-directory: examples/vscode-extension-client
